
{{ $styles := resources.Get "static/css/custom.css"}}
{{- $.Page.Resources.Add "stylesheet" $styles -}}
<div class="product">
  <h2 class="product__name">{{ .name }}</h2>
  {{ with .image }}
    <img class="product__image" src="{{ . }}" alt="">
  {{ end }}
  <p class="product__description">{{ .description }}</p>
  <div class="product__button-container">
    <div class="product__price">${{ .price }}</div>

    <!-- <label>Quantity</label>
    <input id="quantity" type="number"></input
    <label>Frame color</label>
    <select id="frame_color">
      <option value="Black">Black</option>
      <option value="Brown">Brown</option>
      <option value="Gold">Gold</option>
    </select> -->


    <button
      class="snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}"
      data-item-custom1-name="{{ .custom1_name }}"
      data-item-custom1-options="{{ .custom1_options }}"
      data-item-custom2-name="{{ .custom2_name }}">
      Add to cart
    </button>
  </div>
</div>
