<header class="panel-cover {{if or (eq .Params.layout "post") (eq .Params.layout "page")}} panel-cover--collapsed {{end}}" style="background-image: url('/images/background-cover.png')">
    <div class="panel-main">

      <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">

          <a href="/#home" title="{{ .Site.Title }}" class="blog-button"><img src="/images/avatar.jpg" width="180" alt="{{ .Site.Title }} logo" class="panel-cover__logo logo" /></a>
          <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ .Site.Title }}" class="tittle-button"><span class="titleA">{{ .Site.Params.titleA }}</span><span class="titleB">{{ .Site.Params.titleB }}</span></a></h1>
          <!-- {{ if (.Site.Params.subTitle) }} -->

          <!-- <span id="subtitle" class="panel-cover__subtitle panel-subtitle">{{ .Site.Params.subTitle }}</span> -->

          <!-- GO syntax for subtitle is no longer needed due to the inclusion of
          the following script tag, which is an automatic random subtitle gen. -->

          <span id="subtitle" class="panel-cover__subtitle panel-subtitle"></span>
          <!-- {{end}} -->

          <!-- ------------------------------------------------------------- -->
          <script>

            sub = document.getElementById("subtitle");

            evocations = ["I conjure thee to speak to me",
            "Wouldst thou like to see the world?",
            "I will guide thy hand",
            "What dost thou desire?"];

            max = Math.floor(evocations.length);
            sub.innerHTML = evocations[Math.floor(Math.random() * (max - 0) + 0)];
          </script>
          <!-- ------------------------------------------------------------- -->

          <hr class="panel-cover__divider" />
          <p id="description" class="panel-cover__description">{{ .Site.Params.description }}</p>
          <hr class="panel-cover__divider panel-cover__divider--secondary" />

          {{if ( .Site.Params.welcomeMessage)}}
          <p id="msg" class="panel-cover__description">{{ .Site.Params.welcomeMessage }}</p>
          {{end}}


          <!-- <div class="header__cart fixed-button">
            <a href="#" class="snipcart-checkout" style="text-decoration: none;">
              <div class="snipcart-summary">
                <span>🛒</span>
                <span class="snipcart-total-price"></span>
              </div>
            </a>
          </div> -->

          <div class="fixed-button header__cart ">
            <a href="#" class="snipcart-checkout" style="text-decoration: none;">
              <div class="snipcart-summary">
                <span></span>
                <span class="snipcart-total-price"></span>
              </div>
            </a>
          </div>

          <div class="navigation-wrapper">
            <div>
              <nav class="cover-navigation cover-navigation--primary">
                <ul class="navigation">
                  <li class="navigation__item"><a href="/#blog" title="{{ .Site.Params.blogButton.Title }}" class="blog-button">{{ .Site.Params.blogButton.Title }}</a></li>
                  {{ range where .Site.Menus.main ".Params.type" "button"}}

                      <li class="navigation__item">
                        <a href="{{ .URL }}" title="{{ .Name}}" class="{{ with .Params.class }}{{ . }}{{ end }}">{{ .Name }}</a>
                      </li>
                  {{ end }}
                </ul>
              </nav>
            </div>

            <div>{{ partial "social.html" . }}</div>
          </div>




        </div>
      </div>

      {{if ( .Site.Params.coverColor)}}
      <div class="panel-cover--overlay cover-{{ .Site.Params.coverColor }}"></div>
      {{else}}
      <div class="panel-cover--overlay cover-disabled"></div>
      {{end}}
    </div>
  </header>
