@import url('https://fonts.googleapis.com/css2?family=Armata&family=Comfortaa:wght@500&family=Major+Mono+Display&display=swap');
/* @font-face {
    font-family: 'Alpaca Solidify';
    src: url('fonts/AlpacaSolidifyMod2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --full-width: 100%;
  --max-width: 62.5rem;
  --min-width: 22.5rem;
  --flex-flow: 30rem;
  --space: 1rem;
  --conditional-space: clamp(0px, (30rem - 100%) * 999, 1rem);
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    hsl(236, 100%, 80%, 0.4),
    rgba(205, 155, 225, 0.3)
  );
} */

.container {
  width: clamp(var(--flex-flow), 95%, var(--max-width));
  padding-block: var(--space);
  min-width: var(--min-width);
}

.container__flex-flow {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  margin-inline: var(--conditional-space);
}

.container__flex-flow > * {
  flex-grow: 1;
  flex-basis: calc((var(--flex-flow) - var(--full-width)) * 999);
}

.card {
  display: flex;
  min-width: 12rem;
  overflow: hidden;
  border-radius: clamp(0px, (40vw - var(--full-width)), var(--space));
  box-shadow: rgb(40, 40, 40, 0.1) 0px 2px 3px, rgb(20, 20, 20, 0.2) 0px 5px 8px,
    rgb(0, 0, 0, 0.25) 0px 10px 12px;
}

.card > img {
  display: block;
  object-fit: cover;
  width: 100%;
  /* aspect-ratio: 16 / 9; */
  transition: transform 700ms ease;
}

.card:hover img {
  transform: scale(1.2);
}

.snipcart-modal__container {
  z-index: 2000 !important;
}

.snipcart-modal input{
  width: 0px !important;
}

/* .snipcart-modal__container.snipcart-layout--large {
  width: 100% !important;
  max-width: 100% !important;
} */


/* ======================================= */

.buy-button {
  color: #fff;
  background-color: #7E2D29;
  font-weight: 700;
  border-radius: 99px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
  border: none;
  white-space: nowrap;
  transition: .2s transform ease-in-out,.2s box-shadow ease-in-out;
  box-shadow: 0 0 0 rgba(181, 8, 8, 0.2); }

.buy-button:hover {
  transform: translate(0px, -4px);
  box-shadow: 0 4px 6px rgba(181, 8, 8, 0.2); }

.promotional-message {
  margin-bottom: 100px;
  margin-top: 25px;
  text-align: center; }

.promotional-message h3 {
  font-size: 24px;
  line-height: normal;
  text-align: center;
  letter-spacing: .4em;
  text-transform: uppercase;
  margin: 0; }

.promotional-message h2 {
  font-size: 100px;
  margin: 0;
  background: linear-gradient(90deg, #FFB890 0%, #F75D5D 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

@media (max-width: 600px) {
  .promotional-message h2 {
    font-size: 75px; } }

/* .header {
  display: flex;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto; } */

/* .header__branding {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #404040;
  text-decoration: none; }

.header__logo {
  height: 40px;
  margin-right: 15px; }

.header__title {
  margin: 0;
  font-size: 24px; } */

.header__cart {
  margin-left: auto; }

.header__cart .snipcart-summary {
  display: flex;
  justify-content: center;
  align-items: center; }

.header__cart .snipcart-total-price {
  color: #7E2D29;
  font-weight: 700;
  margin-left: 10px; }

.products {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.product {
  width: 100%;
  font-weight: 700;
  display: grid;
  grid-template-areas: "name         name         image" "description  description  image" "button       button       image" ".            .            image";
  grid-template-columns: 1fr 1fr 3fr;
  margin-bottom: 100px;
  grid-column-gap: 75px; }

.product__name {
  grid-area: name;
  font-size: 36px;
  margin: 0; }

.product__image {
  grid-area: image;
  width: 100%;
  height: 130%;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 18.025px 43.775px rgba(0, 0, 0, 0.25); }

.product__description {
  grid-area: description;
  font-weight: 400;
  margin-bottom: 75px; }

.product__price {
  font-size: 28px; }

.product .buy-button {
  margin-left: 30px; }

.product__button-container {
  display: flex;
  flex-direction: row;
  grid-area: button; }

.product:nth-of-type(odd) {
  grid-template-areas: "image name         name" "image description  description" "image button       button" "image .            .";
  grid-template-columns: 3fr 1fr 1fr; }

@media (max-width: 600px) {
  .product:nth-of-type(odd) {
    grid-template-areas: "image        image      " "name         name       " "description  description" "button       button     ";
    grid-template-columns: 1fr 1fr; }
  .product:nth-of-type(odd) img {
    height: 300px;
    width: 100%;
    margin-bottom: 30px; } }

@media (max-width: 600px) {
  .product {
    grid-template-areas: "image        image      " "name         name       " "description  description" "button       button     ";
    grid-template-columns: 1fr 1fr; }
  .product img {
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    } }

/* .footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(90deg, #707070 0%, #474747 100%);
  text-transform: uppercase;
  font-weight: 700;
  color: #ccc; } */

/* .footer a {
  color: #fff; } */

/* * {
  box-sizing: border-box;
  font-family: open sans,sans-serif;
  font-size: 16px;
  color: #404040; } */

.shop-list {
  min-height: 100vh;
  padding: 0;
  margin: 0; }

.shop-list {
  display: grid;
  grid-template-rows: auto 1fr auto; }

/* @media (max-width: 1000px) {
  body {
    padding-right: 20px;
    padding-left: 20px; } } */

.shop-list {
  display: flex;
  flex-direction: column;
  /* align-items: center; } */

.background-image {
  position: absolute;
  opacity: .02;
  left: -10vw;
  top: -10vh;
  height: 75vh;
  transform: rotate(20deg);
  pointer-events: none; }
